.header {
    margin-bottom: 2rem;
}
.line {
    border: 1px solid rgba(138, 154, 185, 0.3);
    width: 108.5%;
    height: 0px;
    margin: 1rem 0;
}
.selectSmall {
    padding: 8px 12px;
}
.controller {
    
}