.overlay {
    background: #FFFFFF;
    border-radius: 1.3rem;
    padding: 3rem;
    box-sizing: border-box;
    overflow: scroll;
}
.table::after {
    content: " ";
    width: 100%;
    height: auto;
    border: 1px solid rgba(138, 154, 185, 0.2);
    position: absolute;
    transform: translateX(-3rem);
}
.table {
    width: 100%;
    position: relative;
}
.popup {
    width: 32%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.432px;
    color: #8A9AB9;
}
.text2 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.432px;
    text-decoration-line: underline;
    color: #16214D;
}
.iconOverlay {
    margin-left: -10px;
}
.title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 1.152px;
    color: #16214D;
    margin: 1.5rem 0;
}
.term {
    background: rgba(138, 154, 185, 0.2);
    border-radius: 0.6rem;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0.432px;
}
.termPassive {
    color: #8A9AB9;
}
.termActive {
    color: var(--primary-color);
}
.dynamicPositive {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.576px;
    color: #0EC9B5;
}