.iconOverlay {
    margin-left: -10px;
}
.title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 1.152px;
    color: #16214D;
    margin: 1.5rem 0;
}
.term {
    background: rgba(138, 154, 185, 0.2);
    border-radius: 0.6rem;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0.432px;
}
.termPassive {
    color: #8A9AB9;
}
.termActive {
    color: var(--primary-color);
}
.dynamicPositive {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.576px;
    color: #0EC9B5;
}
.tableOverlay {
    padding: 3rem 0;
}
.table {
    background: rgba(255, 255, 255, 0.0980392);
    border: 1px solid rgba(138, 154, 185, 0.298039);
    border-radius: 0.7rem;
}
.tableRow th {
    border-bottom: 1px solid rgba(138, 154, 185, 0.298039);
    padding: 1rem 0;
}
.tableRow td {
    padding: 1rem 0;
}
.tableRow>th:first-child, .tableRow>td:first-child  {
    text-align: center;
}