.iconOverlay {
    margin-left: -10px;
}
.title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 1.152px;
    color: #16214D;
    margin: 1.5rem 0;
}
.dynamicPositive {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.576px;
    color: #0EC9B5;
}