.home {
    padding: 4%;
    overflow: scroll;
}
.start {
    background-size: cover;
    border-radius:10px;
    min-height: 25vh;
    padding: 4% 65% 4% 8%;
    box-sizing: border-box;
    color: #FFFFFF;
}
.logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 2.5rem;
}
.startButton {
    background-color: #FFFFFF;
    color: blue;
    border-radius: 15px;
    padding: 25px;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 50px;
}
.startButton img {
    width: 1rem;
}
h3 {
    margin: 30px 0 10px 0;
    font-size: 1.3rem;
}
h6 {
    font-size: 1rem;
}
span {
    margin: 0 5px;
}