.swap {
    justify-content: space-between;
}
.swapTableWrapper {
    width: 65%;
    background: #FFFFFF;
    border-radius: 1.3rem;
    padding: 3rem;
    box-sizing: border-box;
    overflow-y: scroll;
}
.header::after {
    content: " ";
    width: calc(100% + 6rem);
    height: auto;
    border: 1px solid rgba(138, 154, 185, 0.2);
    position: absolute;
    transform: translateX(-3rem);
}
.header {
    width: 100%;
    position: relative;
}