header {
  background: #FFFFFF;
  height: 8%;
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 1px solid #F8FAFD;
}
main {
  display: flex;
  align-items: center;
  height: calc(92% - 6px);
  width: 100%;
  background: #F8FAFD;
}
.header-border-bottom {
  width: 100vw;
  height: 6px;
  background: #4D165A;
  margin: 0;
  border: none;
}
.sidebar {
  background: #FFFFFF;
  height: 100%;
  width: 4rem;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar-link {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
  box-sizing: border-box;
}
.sidebar-link-selected {
  background-color: var(--border-color);
}
