header {
  background: #FFFFFF;
  height: 60px;
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 1px solid #F8FAFD;
}
main {
  display: flex;
  height: calc(93% - 6px);
  width: 100%;
  background: #F8FAFD;
}
.header-border-bottom {
  width: 100vw;
  height: 2px;
  background: linear-gradient(75.94deg, #4D165A 5%, #B5507F 62.6%, #DD7F79 89.98%);
  margin: 0;
  border: none;
}
.sidebar {
  background: #FFFFFF;
  height: 100%;
  min-width: 75px;
  max-width: 100px;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-logoName img {
  max-width: 250px;
}

