header {
    background-color: var(--main-color);
    height: 7vh;
    width: 100vw;
    padding: 0 10% 0 5%;
    box-sizing: border-box;
}
.sidebar {
    background: var(--main-color);
    padding: 5vh 0 0 0;
    height: 88vh;
    box-sizing: border-box;
}
.sidebar-link {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 7px 50px;
    box-sizing: border-box;
    font-size: 0.7rem;
    text-decoration: none;
}
.sidebar-link img {
    height: 30px;
    margin-right: 15px;
}
.sidebar-link-selected {
    background-color: var(--border-color);
}
.switch-block {
    margin-top: 17vh;
    height: 6vh;
    display: flex;
    padding: 0 50px;
}
footer {
    height: 5vh;
    width: 100vw;
    background-color: var(--main-color);
}
