.popup {
    position: sticky;
    background-color: #FFFFFF;
    padding: 20px 5%;
    box-sizing: border-box;
    border-radius: 34px;
    min-width: 20vw;
    max-width: 25vw;
    /* text-transform: uppercase; */
    z-index: 1000;
}
.terms-field {
    background: rgba(138, 154, 185, 0.0980392);
    border-radius: 10px;
    padding: 5%;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 24px;
    letter-spacing: 0.336px;
    text-transform:initial;
    color: #16214D;
}
.wallet-field {
    width: 100%;
    height: auto;
    background: rgba(138, 154, 185, 0.0980392);
    border-radius: 16px;
    padding: 5%;
    box-sizing: border-box;
    font-size: 0.7rem;
    margin: 10px 0;
}
.wallet-icon {
    /* background-color: #FFFFFF; */
    width: 42px;
    height: 42px;
    /* border-radius: 50%; */
}
.wallet-icon img {
    width: 100%;
}
.popup-layer {
    background: var(--popup-bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: auto;
    height: auto;
    min-height: 60vh;
    min-width: 20vw;
    box-sizing: border-box;
}
.popup-input {
    border: none;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0;
    color: var(--popup-placeholder-color);
    font-size:0.7rem;
}
::placeholder {
    color: var(--popup-placeholder-color);
    font-size:0.7rem;
}
.popup-confirm {
    border: none;
    padding: 15px;
    background: var(--popup-confirm-color);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 0.8rem;
    margin: 5px 0;
}
.popup-link {
    /* color: var(--popup-placeholder-color); */
    font-size: 0.7rem;
    line-height: 0.9rem;
}