.popup {
    background-color: var(--popup-bg);
    padding: 25px 5%;
    box-sizing: border-box;
    border-radius: 34px;
    min-width: 20vw;
    max-width: 25vw;
    min-height: 60vh;
    color: #FFFFFF;
    text-transform: uppercase;
}
.wallet-field {
    width: 100%;
    height: auto;
    border-radius:30px;
    background-color: var(--wallet-field);
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 0.7rem;
    margin: 10px 0;
}
.wallet-icon {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.wallet-icon img {
    width: 90%;
    height: 90%
}
.popup-layer {
    background: var(--popup-bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: auto;
    height: auto;
    min-height: 60vh;
    min-width: 20vw;
    box-sizing: border-box;
}
.popup-input {
    border: none;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0;
    color: var(--popup-placeholder-color);
    font-size:0.7rem;
}
::placeholder {
    color: var(--popup-placeholder-color);
    font-size:0.7rem;
}
.popup-confirm {
    border: none;
    padding: 15px;
    background: var(--popup-confirm-color);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 0.8rem;
    margin: 5px 0;
}
.popup-link {
    color: var(--popup-placeholder-color);
    font-size: 0.7rem;
    line-height: 0.9rem;
}