.tableOverlay {
    padding: 3rem 0;
}
.table {
    background: rgba(255, 255, 255, 0.0980392);
    border: 1px solid rgba(138, 154, 185, 0.298039);
    border-radius: 0.7rem;
}
.tableRow th {
    border-bottom: 1px solid rgba(138, 154, 185, 0.298039);
    padding: 1rem;
    text-align: center;
}
.tableRow td {
    padding: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.48px;
    text-align: center;
}
.tableRow>th:first-child, .tableRow>td:first-child  {
    text-align: start;
    
}
.tableRow>th:last-child, .tableRow>td:last-child {
    text-align: end;
}
