:root {
  --main-color: #322B4C;
  --accent-color: #4C3F91;
  --border-color: #4C3F91;
  --popup-bg: #4C3F91;
  --wallet-field: #5C519B;
  --link-blue: #3B87DE;
  
  --popup-bg-color: #F8F8F8;
  --popup-text-color: #373583;
  --popup-button-color: #4C4AA1;
  --popup-placeholder-color: #807DC0;
  --popup-confirm-color: rgba(59, 56, 208, .5);
  font-size: 18px;
}

body {
  margin: 0;
  font-family: SF UI Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h4 {
  font-family: SF UI Display, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 29px;
  color: var(--popup-text-color);
}
p {
  font-size: 0.8rem;
  line-height: 17px;
  margin: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.full-width {
  width: 100%;
  box-sizing: border-box;
}
.full-height {
  height: 100%;
}
.link {
  color: #FFFFFF;
  font-size: 0.6rem;
  text-transform: initial;
}
.link-blue {
  color: var(--link-blue);
  font-size: 0.7rem;
  text-transform: initial;
}

