:root {
  --main-color: #322B4C;
  --accent-color: #4C3F91;
  --border-color: #4C3F91;
  --popup-bg-color: #4C3F91;
  --wallet-field: #5C519B;
  --link-blue: #3B87DE;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100%;
}
.link {
  color: #FFFFFF;
  font-size: 0.6rem;
  text-transform: initial;
}
.link-blue {
  color: var(--link-blue);
  font-size: 0.7rem;
  text-transform: initial;
}
