:root {
  --primary-color: #B5507F;
  --link-blue: #3B87DE;
  --linear-gradient:linear-gradient(180deg, #4D165A 0%, #B5507F 67.78%, #DD7F79 100%);
  --linear-gradient-opacity: linear-gradient(180deg, rgba(77, 22, 90, 0.1) 0%, rgba(181, 80, 127, 0.1) 67.78%, rgba(221, 127, 121, 0.1) 100%);
  
  --popup-bg-color: #F8F8F8;
  --popup-text-color: #373583;
  --popup-button-color: #4C4AA1;
  --popup-placeholder-color: #807DC0;
  --popup-confirm-color: rgba(59, 56, 208, .5);
  font-size: 18px;
}
@media (max-width: 1600px){
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1300px){
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1100px){
  :root {
    font-size: 12px;
  }
}
@media (max-width: 990px){
  :root {
    font-size: 10px;
  }
}
body {
  margin: 0;
  font-family: SF UI Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h4 {
  font-family: SF UI Display, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 29px;
  color: var(--popup-text-color);
}
p {
  font-size: 0.8rem;
  line-height: 17px;
  margin: 0;
}
.flex {
  display: flex;
}
.center {
  align-items: center;
}
.inline {
  display: inline;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.flex-left {
  align-items: start;
}
.space-between {
  justify-content: space-between;
}
.full-width {
  width: 100%;
  box-sizing: border-box;
}
.full-height {
  height: 100%;
}
.link {
  font-size: 0.6rem;
  text-transform: initial;
}
.link-blue {
  color: var(--link-blue);
  font-size: 0.7rem;
  text-transform: initial;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 33, 77, 0.4);
  z-index: 100;
}
.pages-overlay {
  padding: 4%;
}
.spacing-vertical {
  margin: 1rem 0;
}
.spacing-vertical2 {
  margin: 2rem 0;
}
.horizontal-line {
  width: 120%;
  height: auto;
  border: 1px solid rgba(138, 154, 185, 0.2);
}