.hamburger {
  margin: 0 25px;
  cursor: pointer;
}
.header-logo {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}
.header-logo img {
  height: 70%;
}
.notification {
  width: 45px;
  height: 45px;
  margin: 0 25px;
  background: rgba(138, 154, 185, 0.1);
  border-radius: 16px;
  cursor: pointer;
}
.connect-wallet {
  height: 45px;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 12px;
  font-size: 0.7rem;
  background: linear-gradient(90deg, #4D165A 0%, #B5507F 67.78%, #DD7F79 100%);
  color: #FFFFFF;
  font-weight: 600;
  cursor: pointer;
}
.user {
  border-radius: 16px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  margin: 0 25px;
  background: linear-gradient(180deg, rgba(77, 22, 90, 0.1) 0%, rgba(181, 80, 127, 0.1) 67.78%, rgba(221, 127, 121, 0.1) 100%);
  cursor: pointer;
}
.user img {
  width: 40%;
}
.switch {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background: rgba(138, 154, 185, 0.1);
}
.switch-active {
  background: linear-gradient(180deg, #4D165A 0%, #B5507F 67.78%, #DD7F79 100%);
}
.switch img {
  width: 50%;
}
.border-top-round {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid rgba(255, 255, 255, 0.0784314); */
  border-bottom: none;
}
.border-bottom-round {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1px solid rgba(255, 255, 255, 0.0784314); */
  border-top: none;
}
.metamask-logo {
  width: 30%;
  height: auto;
  border-radius: 50%;
  background: #4c4aa1;
  padding: 10px;
}
.metamask-logo img {
  width: 100%;
}
.popup-button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: SF UI Text, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  margin: 10px 0;
}
.outlined {
  border: 1px solid var(--popup-button-color);
  color: var(--popup-button-color);
}
.sidebar-link {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
  box-sizing: border-box;
}
.sidebar-link-selected {
  position: relative;
  background: var(--linear-gradient-opacity);
}
.sidebar-link-selected::before {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--linear-gradient);
}
.square {
  background: var(--linear-gradient-opacity);
  padding: 1rem;
  width: fit-content;
  border-radius: 16px;
  margin: 0 0.5rem;
}
.input-field {
  width: auto;
  margin: 0.7rem 0;
  border: 1px solid rgba(138, 154, 185, 0.2);
}
  

