.header-logo {
    height: 90%;
}
.header-logo img {
    height: 100%;
}
.connect-wallet {
    height: 5vh;
    box-sizing: border-box;
    border-radius: 39px;
    padding: 12px;
    font-size: 0.7rem;
    color: #FFFFFF;
}
.border-purple {
    border: 2px solid var(--border-color);
    cursor: pointer;
}
.user {
    border-radius: 50%;
    width: 5.5vh;
    height: 5.5vh;
    box-sizing: border-box;
    margin-left: 20px;
}
.user img {
    width: 50%;
}
.switch {
    height: 90%;
    margin-right: 5px;
    cursor: pointer;
}
.switch img {
    height: 93%;
}
.header-logoName {
    width: 100%;
    padding: 0 50px;
}
.header-logoName img {
    width: 43%;
    height: auto;
    margin-bottom: 10px;
}